
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    height: 100vh;
    color: white;
    font-size: 0.6em;
    background: rgb(232, 235, 238);
}

body, input, button, textarea {
    font: 400 1.8rem/1 'Nunito', sans-serif; 
}


