<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Icone-->
    <link rel="icon" href="/images/logo-icon.png" />
    <!--Fonte-->
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
    <!--Estilos CSS-->
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/page-lading.css" />
    <link rel="stylesheet" href="/css/animation.css" />
    <title>Happy</title>
  </head>
  <body>
    <div id="page-landing">
      <div id="container">
        <!--cabeçalho da página-->
        <header>
          <img
            src="/images/logo.svg"
            id="logo"
            alt="logomarca do Happy"
            class="animate-up"
          />
          <div class="location animate-up">
            <strong>Cedro</strong>
            <p>Ceará</p>
          </div>
        </header>

        <!--Conteudo principal da página-->
        <main>
          <h1 class="animate-up">Leve felicidade para o mundo</h1>
          <section class="visit">
            <p class="animate-up">
              Visite orfanatos e mude o dia de muitas crianças
            </p>
            <a
              href="/orphanages"
              title="Visite orfanatos"
              class="animate-up"
            >
              <img src="/images/arrow.svg" alt="Ir para o mapa" />
            </a>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>
